/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

.navbar {
    padding: 1rem 0;
}

.home-section {
    padding: 100px 0;
    background: linear-gradient(to right, #007bff, #6610f2);
    color: #fff;
}

.about-section {
    padding: 80px 0;
}

.contact-section {
    padding: 80px 0;
    background-color: #6c757d;
}

.footer {
    margin-top: 4rem;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #007bff;
}

.original-size {
    display: block;
    max-width: 100%;
    height: auto;
}

/* About Me Section Styles */
.about-item {
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item h3 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-item h3 i {
    margin-right: 10px;
    color: #007bff;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0;
    }

    .home-section {
        padding: 60px 0;
    }

    .about-section, .contact-section {
        padding: 60px 0;
    }

    .footer {
        margin-top: 2rem;
    }
}